html,
body {
  height: 100%;
}
.container__grid {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2% 1fr 2%;
  grid-template-rows: 50px 75px 50px 1fr (1fr/8);
  grid-template-areas:
    "title title title"
    ". add ."
    ". filter ."
    ". content ."
    ". footer .";
}

@media only screen and (min-width: 525px) {
  .container__grid {
    grid-template-columns: 1fr 525px 1fr;
  }
}
.container__title {
  grid-area: title;
  display: flex;
  width: 100%;
}
.container__add {
  grid-area: add;
  display: flex;
  width: 100%;
}

.container__filter {
  grid-area: filter;
  display: flex;
  width: 100%;
}
.container__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container__footer {
  width: 100%;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-self: end;
  grid-row-start: 5;
  grid-row-end: 5;
}
