html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #c4d8cb;
}
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$press-start: "Press Start 2P", cursive;
$ubuntu: "Ubuntu", sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

.container__todo {
  p,
  s {
    margin: 0px;
    padding: 0px;
    font-family: $ubuntu;
    font-size: 20px;
  }
}
p,
s {
  margin: 0px;
  padding: 0px;
  font-family: $ubuntu;
  font-size: 20px;
}
.todo--add--btn {
  font-family: $press-start;
}
@media only screen and(max-width: 400px) {
  .container__todo,
  .todo--add--btn {
    p,
    s {
      margin: 0px;
      padding: 0px;
      font-size: 15px;
    }
  }
}

button {
  font-family: $press-start;
  font-size: 10px;
  font-weight: $light;
}
option {
  font-family: $ubuntu;
  font-weight: $light;
}

.todo--delete--btn {
  p {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    font-weight: 300;
    padding: 2px;
  }
}
.filter--content {
  p {
    font-family: $press-start;
    font-size: 10px;
    font-weight: $light;
  }
}
