html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #c4d8cb;
}
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$press-start: "Press Start 2P", cursive;
$ubuntu: "Ubuntu", sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

p,
s {
  margin: 0px;
  padding: 0px;
  font-family: $ubuntu;
  font-size: 20px;
}
@media only screen and(max-width: 400px) {
  p,
  s {
    font-size: 15px;
  }
}

button {
  font-family: $press-start;
  font-size: 10px;
  font-weight: $light;
}
option {
  font-family: $ubuntu;
  font-weight: $light;
}

.todo--delete--btn {
  p {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    font-weight: 300;
    padding: 2px;
  }
}
.filter--content {
  p {
    font-family: $press-start;
    font-size: 2vw;
    font-weight: $light;
  }
}

@media only screen and(min-width: 670px) {
  .filter--content {
    p {
      font-size: 10px;
    }
  }
}
