.container__title {
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
}

.title--image {
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 365px;
  min-width: 265px;
}
